{% load i18n %}
<div id="head">
  <div class="cont">
    <p id="lang">

    <p id="logo">
      <a href="/"><img src="/static/img/logo.png" width="359" height="50"
          alt="{% trans "ParašykJiems - Fast method to find representatives and contact them." %}"></a>

    <p id="nav">
      <a href="/public/" id="nav-archive"><img src="/static/img/info.png" align="absmiddle">{% trans "List of all public mails" %}</a>
      <a href="/about/" id="nav-about">{% trans "About project" %}</a>

  </div>
</div>