{% extends "base.html" %}
{% load i18n %}

{% block menu %}
{% with ACTIVE_MENU_ITEM="search" %}
{% include "menu.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/search.html" %}
{% include "breadcrumbs/separator.html" %}
{% include "breadcrumbs/choose.html" %}
{% include "breadcrumbs/separator.html" %}
{% include "breadcrumbs/write.html" %}
{% include "breadcrumbs/separator.html" %}
{% include "breadcrumbs/confirm.html" %}
{% endblock %}

{% block content %}
<p>
  {% trans "Recipient of the letter:" %}
  <em>{{ enquiry.recipient.kind.name }} {{ enquiry.recipient.name }}</em>.
</p>

<p>{% trans "Content of the letter" %}</p>
<blockquote>
  {{ enquiry.body }}
</blockquote>

<form method="POST">
  {% csrf_token %}
  <input value="{% trans "Send" %}" type="Submit">
</form>
{% endblock %}
