{% extends "base.html" %}
{% load i18n snippet %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block title %}{% trans "Confirm letter" %} &ndash; {% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/confirm.html" with active=1 %}
{% endblock %}

{% block content %}

<p>Peržiūrėkite laišką ir, jeigu viskas gerai, paspauskite mygtuką
„Siųsti“.</p>

<p><strong>Pastaba:</strong> Šis laiškas yra atviras ir po išsiuntimo jis bus
matomas svetainėje. Įsitikinkite, kad laiške nėra jokių asmeninių duomenų,
kurių nenorite viešinti.</p>

{% include "items/message.html" with message=message %}

<form method="POST">
  {% csrf_token %}
  <input value="{% trans "Send" %}" type="Submit">
</form>

{% endblock %}
