{% extends "base.html" %}
{% load i18n %}

{% block menu %}
{% include "menu.html" with active="help" %}
{% endblock %}

{% block breadcrumbs %}
<li>{% trans "Help" %}</li>
{% endblock %}

{% block content %}
<h2>Pagrindinės el. laiško rašymo taisyklės:</h2>
<ul>
  <li>Temos eilutė turi būti aiški ir trumpa &mdash; parašykite kas ir kur atsitiko.
  <li>Rašykite trumpus, tačiau išsamius (informatyvius) el. laiškus.
  <li>Nesikartokite, venkite sutrumpinimų, tarptautinių žodžių.
  <li>Vieną el. laišką skirkite vienai problemai aprašyti ar vienam klausimui pasiklausti.
  <li>Nerašykite to, ko nenorėtume skelbti viešai. Jūsų El. laiškas gali būti persiųstas, jis nėra asmeninis.
  <li>Venkite pateikti asmeninę informaciją apie save, pvz., asmens kodą, banko slaptažodžius ir pan.
  <li>El. laišką rašykite pagal šią formą/struktūrą:
    <ul>
      <li>pasisveikinimas,
      <li>pristatymas,
      <li>trumpas problemos pristatymas ir (ar) pagrindinių aplinkybių išdėstymas,
      <li>klausimas, kurį norite užduoti atstovui,
      <li>„pasirašymas" (pvz. „Pagarbiai, Vardenis Pavardenis")
    </ul>
  <li>galite palikti kontaktinius duomenis (pvz., telefono numerį), tačiau tai darykite labai apdairiai.
</ul>

<h2>Bendravimo el. laiškais etika &mdash; vienas iš būdų padidinti bendravimo su piliečių atstovais efektyvumą!</h2>

<p>Pateikiame keletą pagrindinių taisyklių:

<ul>
  <li>Rašykite lietuvių kalba lietuviškais rašmenimis. Venkite „šveplo“ (pvz. zodziai).
  <li>Laiško turinys ir stilius turi įtakos gavėjo nuomonę apie jus , todėl prieš siųsdami perskaitykite, pasitikrinkite klaidas.
  <li>Venkite simbolių, pvz. šypseniukų , tačiau tekstą rašykite draugišką ir mandagų.
  <li>Laiškas skirtas dalykinei informacijas suteikti ir gauti. Venkite pajuokavimų, sarkazmo, emocijų reiškimo.
  <li>Nepamirškite, jog el. laiškai yra ne asmeniniai, o skirti institucijos darbuotojui.
</ul>

<h2>El. laiškų rašymo valstybinėms institucijoms specifika</h2>

<p>Rašydami el. laišką valstybės ar savivaldybės įstaigai, institucijai prisiminkite, kad institucijose el. laiškai priimami tik tuo atveju, kai yra galimybė identifikuoti laiško autorių. Dėl šios priežasties patariame:

<ul>
  <li>Jei turite elektroninį parašą, pasirašykite juo rašydami el. laišką.
  <li>Jei elektroninio parašo neturite, kuo tiksliau nurodykite kas esate, pvz. nepasirašykite laiškų slapyvardžiais („nesvarbu“), netrumpinkite vardo ir pavardės.
  <li>Kitus asmeninius duomenis teikite atidžiai. Nepamirškite, kad el. laiškas gali būti persiųstas, todėl Jūsų duomenis gali sužinoti platus ratas asmenų.
</ul>

<p>Daugiau informacijos ir patarimų apie tai kaip gauti informacijos iš valstybės ir savivaldybių įstaigų ir institucijų rasite šiame pradžiamokslyje.

<h2>El. laiško seniūnui pavyzdys:</h2>

<blockquote>
<p><strong>Tema:</strong> Dėl duobės N gatvėje

<p>Gerb., p. Vardeni. Pavardeni,

<p>esu Vardenynė Pavardenytė, N seniūnijos gyventoja.

<p>Šalia n gatvės X-tojo namo yra atsivėrusi didelė duobė gatvėje. Šioje vietoje pravažiuoja daug mašinų.

<p>Noriu Jūsų pasiteirauti, kada planuojama ją užtaisyti?

<p>Pagarbiai,<br>
Vardenytė Pavardenytė
</blockquote>

{% endblock %}
