{% extends "base.html" %}
{% load i18n %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/letters.html" %}
{% include "breadcrumbs/separator.html" %}
{% include "breadcrumbs/letter.html" with active=1 %}
{% endblock %}

{% block content %}

<div class="letter">
  <table>
    <tr>
      <td>{% trans "From" %}:</td>
      <td>{{ enquiry.sender_name }}</td>
    <tr>

    <tr>
      <td>{% trans "To" %}:</td>
      <td>{{ enquiry.recipient.kind.name }} {{ enquiry.recipient.name }}</td>
    </tr>

    <tr>
      <td>{% trans "Subject" %}:</td>
      <td>{{ enquiry.subject }}</td>
  </table>

  <blockquote>
    {{ enquiry.body|linebreaks }}
  </blockquote>
</div>

{% endblock %}
