{% extends "base.html" %}
{% load i18n %}

{% block menu %}
{% include "menu.html" with active="letters" %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/letters.html" with active=1 %}
{% endblock %}

{% block content %}

{% include "items/letters.html" with letters=letters %}

<div class="paging">
  {% if page.has_previous %}
  <a href="?p={{ page.previous_page_number }}">{% trans "Previous page" %}</a>
  {% endif %}

  {% blocktrans with page=page.number pages=page.paginator.num_pages %}
  Page {{ page }} out of {{ pages }}
  {% endblocktrans %}

  {% if page.has_next %}
  <a href="?p={{ page.next_page_number }}">{% trans "Next page" %}</a>
  {% endif %}
</div>

{% endblock %}
