{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript" src="/static/js/search.js"></script>
{% endblock %}

{% block menu %}
{% include "menu.html" with active="search" %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/search.html" with active=1 %}
{% endblock %}

{% block content %}
<p>{% blocktrans %}Use the search box to find a representative. You can read more about the project <a href="/about">here</a>.{% endblocktrans %}</p>

<form name="search">
  <input name="q" value="{{ search_query }}">
  <input type="hidden" name="nohist">
  <input name="submit" value="{% trans "Search" %}" type="submit">
</form>
<div id="results">{{ results_html|safe }}</div>
{% endblock %}
