{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript" src="/static/js/search.js"></script>
{% endblock %}

{% block menu %}
{% include "menu.html" with active="search" %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/search.html" with active=1 %}
{% endblock %}

{% block content %}
<form name="search">
  <input name="q" value="{{ search_query }}"></input>
  <input value="{% trans "Search" %}" type="submit"></input>
</form>

{% if search_query %}

{% if results %}

<ul id="results">
  {% for result in results %}
  <li>
    {% include "items/result.html" %}
  </li>
  {% endfor %}
</ul>
{% if more_results %}
<p>{% trans "There are more results matching your query. Try narrowing your search." %}</p>
{% endif %}

{% else %}
<p>{% trans "Nothing found." %}</p>
{% endif %}

{% else %}

<p>
  {% blocktrans %}
  You can search by entering:
  <ul>
    <li>part of an address,
    <li>a full address (including the house number),
    <li>a representative's name,
    <li>an institution's name.
  </ul>
  {% endblocktrans %}
</p>

{% endif %}

{% endblock %}
