{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
{% endblock %}

{% block title %}{{ thread.subject }} &ndash; {% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/threads.html" %}
{% include "breadcrumbs/thread.html" with active=1 %}
{% endblock %}

{% block content %}
{% for message in thread.messages %}
{% include "items/message.html" with class=message.kind id=message.id_in_thread %}
{% endfor %}
{% endblock %}
