{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block head %}
<meta property="og:name" content="{{ thread.subject }}">
<meta property="og:site_name" content="ParašykJiems">
<meta property="og:image" content="{{ SETTINGS.SITE_ADDRESS }}/static/img/logo_small.png">
<meta property="og:url" content="{{ SETTINGS.SITE_ADDRESS }}{{ thread.get_absolute_url }}">
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
{% endblock %}

{% block title %}{{ thread.subject }} &ndash; {% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/threads.html" %}
{% include "breadcrumbs/thread.html" with active=1 %}
{% include "items/rss.html" %}

<div style="float: right">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div
    class="fb-like"
    data-href="{{ SETTINGS.SITE_ADDRESS }}{{ thread.get_absolute_url }}"
    data-send="false"
    data-layout="button_count"
    data-width="90"
    data-show-faces="false"></div>
</div>
{% endblock %}

{% block content %}
{% for message in thread.messages %}
{% include "items/message.html" with class=message.kind id=message.id_in_thread %}
{% endfor %}
{% endblock %}
