{% extends "base.html" %}
{% load i18n add_get_parameter %}

{% block head %}
<script type="text/javascript" src="{% static js/threads.js %}"></script>
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
{% endblock %}

{% block title %}{% trans "Open letters" %} &ndash; {% endblock %}

{% block menu %}
{% include "menu.html" with active="threads" %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/threads.html" with active=1 %}
{% include "items/rss.html" %}
{% endblock %}

{% block content %}

{% include "items/threads.html" with threads=threads %}

{% if page.paginator.num_pages > 1 %}
<div class="pager">
  {% trans "Pages: " %}

  <span class="pages">
    {% for p in pages %}
    {% if p.number == page.number %}
    <span class="selected">{{ p.number }}</span>
    {% else %}
    <a href="{% add_get_parameter p=p.number %}">{{ p.number }}</a>
    {% endif %}
    {% endfor %}
  </span>
</div>
{% endif %}

{% endblock %}
