{% extends "base.html" %}
{% load i18n %}

{% block menu %}
{% with ACTIVE_MENU_ITEM="search" %}
{% include "menu.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/search.html" %}
{% include "breadcrumbs/separator.html" %}
{% include "breadcrumbs/choose.html" %}
{% include "breadcrumbs/separator.html" %}
{% include "breadcrumbs/write.html" with active=1 %}
{% endblock %}

{% block content %}

<form method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input value="{% trans "Submit" %}" type="submit"></input>
</form>

{% endblock %}
