{% extends "base.html" %}
{% load i18n %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/search.html" %}
{% include "breadcrumbs/choose.html" %}
{% include "breadcrumbs/write.html" %}
{% include "breadcrumbs/confirm.html" with active=1 %}
{% endblock %}

{% block content %}
<p>
  {% blocktrans %}Check your email. You should receive a confirmation
  link from us. You must confirm your letter before it will be sent.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans with feedback_url="/feedback/" %}If you don't receive
  a letter, check your spam folder. If it doesn't arrive at all, send us a
  note using the <a href="{{ feedback_url }}">feedback page</a>.
  {% endblocktrans %}
</p>
{% endblock %}
