{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm letter" %} &ndash; {% endblock %}

{% block breadcrumbs %}
{% include "breadcrumbs/search.html" %}
{% include "breadcrumbs/choose.html" %}
{% include "breadcrumbs/write.html" %}
{% include "breadcrumbs/confirm.html" with active=1 %}
{% endblock %}

{% block content %}
<p>Pasitikrinkite savo elektroninį paštą. Mes Jums išsiuntėme patvirtinimo
nuorodą. Jūs turite patvirtinti savo laišką prieš tai, kai jis bus
išsiųstas.</p> <p>Jeigu negaunate laiško, pasitikrinkite brukalo (spam)
katalogą. Jei ir ten jo nėra, <a href="/contact/">praneškite mums</a> apie
tai.</p>
{% endblock %}
