{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <h2 class="c-h">{% trans "Have any notes? Write to us!" %}</h2>

    <ul id="head-text">
        <li>{% trans "If address wasn't found in database, but you know, that it exists, write exact address, to which civil parish, polling district and municipality it belongs, and, if you can, specify polling district." %}</li>
        <li>{% trans "If your member of municipality, civil parish wasn't found, write his data: name, surname, phone, email, work address." %}</li>
    </ul>

    <br>
    <form action="/feedback/" method="post">
        <table style="width:100%">
            <tr>
                <th style="width:20%">
                    <label for="id_emailFrom">{% trans "Your Email:" %}</label>
                </th>
                <td>
                    {{ form.emailFrom }}
                    {{ form.emailFrom.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_subject">{% trans "Subject:" %}</label>
                </th>
                <td>
                    {{ form.subject }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        {{ form.message }}
                        {{ form.message.errors }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align:center">
                        <button><span>{% trans "Send" %}</span></button>
                    </div>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}

