{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1 class="c-h">D.U.K. - Dažnai Užduodami Klausimai</h1>

<ol style="font: bold 12px arial;">
    <li class="faq_content_item"><a href="#What_is_this_project_about">Kas yra ParašykJiems.lt?</a></li>
    <li class="faq_content_item"><a href="#What_types_of_representatives">Kuriems valdžioms atstovams galima parašyti?</a></li>
    <li class="faq_content_item"><a href="#Public_vs_private_email">Kuo skiriasi <i>viešas</i> nuo <i>privatus</i> laiško?</a> </li>
    <li class="faq_content_item"><a href="#Different_query_options">Ar bus galimybė ieškoti pagal pavardę? Gal populiarius, žinomus adresus būtų galima iškarto pasirinkti (tarkim, iš sąrašo).</a></li>
    <li class="faq_content_item"><a href="#Difference_Seniunija_Seniunija">Kuo skiriasi <i>seniūnija</i> nuo <i>senūnaitijos</i>?</a></li>
    <li class="faq_content_item"><a href="#Definition_SeimoNarys">Kada turėčiau kreiptis į seimo narį?</a></li>
    <li class="faq_content_item"><a href="#Definition_Meras">Kada turėčiau kreiptis į merą?</a></li>
    <li class="faq_content_item"><a href="#Definition_Seniunas">Kada turėčiau kreiptis į seniūną?</a></li>
    <li class="faq_content_item"><a href="#Definition_Seniunaitis">Kada turėčiau kreiptis į seniūnaitį?</a></li>
    <li class="faq_content_item"><a href="#Privacy">Privatumo politika</a></li>
    <li class="faq_content_item"><a href="#Can_I_join_this_project">Ar aš galiu prisidėti prie jūsų projekto?</a> </li>
</ol>
<br/>

<ol>
    <li>
        <h3> <span id="What_is_this_project_about">Kas yra ParašykJiems.lt?</span></h3>
        <p> Puslapis skirtas žmonėms susisiekti su savo regiono valdžios atstovais. Svetainė jums leidžia greitai surasti norimą valdžios
            atstovą pagal gyvenamosios vietos adresą.
        </p>
    </li>

    <li>
        <h3> <span id="What_types_of_representatives">Kuriems valdžioms atstovams galima parašyti?</span></h3>
        <p> Galima parašyti šiems atstovams <i>viešą</i> arba <i>privatų</i> laišką: </p>
        <ul>
            <li>Seimo nariui</li>
            <li>Merui</li>
            <li>Seniūnui</li>
            <li>Seniūnaičiui</li>
        </ul>
    </li>


    <li>
        <h3> <span id="Public_vs_private_email">Kuo skiriasi <i>viešas</i> nuo <i>privatus</i> laiško?</span></h3>
        <p>
            Privatus laiškas bus matomas tik jums ir jūsų atstovui.
        </p>
        <p>
            Viešas laiškas bus patalpintas parasykjiems.lt tinklapyje ir bus matomas internete. Jei laiškas yra išsiunčiamas
            kaip viešas, jo vėliau niekada nebus galima pašalinti iš interneto, ir jis bus randamas įvairių paieškos
            svetainių, tokių kaip Google ir pan.
        </p>
    </li>

    <li>
        <h3> <span id="Different_query_options">Ar bus galimybė ieškoti pagal pavardę? Gal populiarius, žinomus adresus būtų galima iškarto pasirinkti (tarkim, iš sąrašo)</span></h3>
        <p>
            Apie tokią galimybę tikrai yra mąstoma. Galvojama padaryti, kad būtų dvi paieškos: pagal gyvenamąją vietą, ir pagal vardą ar pavardą. Planuojame tai daryti iš karto po to,
            kai paieška pagal adresus veiks daugumai gyventojų pakankamai gerai. Jei norite prisidėti ar turite pasiūlymų, maloniai laukiame jūsų laiškų. 
        </p>
    </li>



    <li>
        <h3> <span id="Difference_Seniunija_Seniunija">Kuo skiriasi <i>seniūnija</i> nuo <i>senūnaitijos</i>?</span></h3>
        <p>
            Seniūnija yra savivaldybės administracijos padalinys - vykdomoji valdžia. Seniūnaitija yra mažesnis administracinis
            vienetas už seniūnija. Tai yra mažiausias administracinis vienetas Lietuvoje. Seniūnaičiai renkami 2 metų kadencijai.
        </p>
        <p>
            Seniūnija ir seniūnaitija veikia panašiu principu į savivaldybės
            ir miesto tarybos santykį. Seniūnaitija prižiūri seniūnijos darbą.
        </p>

        <p>
            Galimybė steigti seniūnaitijas nustatyta Vietos savivaldos įstatymo pakeitimo įstatymo 8
            skirsnyje, priimtame 2008 m. rugsėjo 15 d.
        </p>
    </li>


    <li>
        <h3> <span id="Definition_SeimoNarys">Kada turėčiau kreiptis į seimo narį?</span></h3>
        <p>
        Jūs galite kreiptis į Seimo narį prašydamas bet kokios informacijos suisjusios su Seimo nario kompetencija.
            Pagal LR Seimo statutą, Seimo narys gali:
        </p>
        <ul>
            <li>Balsuoti dėl visų svarstomų klausimų Seimo, komiteto ir komisijos, kurių narys jis yra, posėdžiuose; </li>
            <li>dalyvauti diskusijoje visais svarstomais klausimais, žodžiu ir raštu pateikti pasiūlymus, pastabas, pataisas;</li>
            <li>siūlyti Seimui svarstyti klausimus;</li>
            <li>rengti ir teikti svarstyti Seimui įstatymų bei kitų teisės aktų projektus, taip pat teikti pasiūlymus dėl įstatymų,
                kurie turi būti apsvarstyti Seime;</li>
            <li>daryti pareiškimus, sakyti replikas, kalbėti dėl balsavimo motyvų, teikti pasiūlymus dėl posėdžio vedimo tvarkos, procedūros;
            <li>tiesiogiai ar per padėjėją gauti užregistruotų įstatymų projektų, įstatymų ir kitų Seimo priimtų aktų, Seimo Pirmininko,
                    Seimo valdybos ir Seniūnų sueigos sprendimų ir jų projektų bei Vyriausybės rengiamų teisės aktų projektų,
                    taip pat kitų valstybės valdžios ir valdymo institucijų priimtų nutarimų bei valstybės tarnybos pareigūnų
                    teisės aktų kopijas; </li>
            <li>kreiptis su paklausimais į Vyriausybės narius, kitų valstybės institucijų vadovus, pateikti jiems,
                taip pat Seimo pareigūnams klausimų;</li>
            <li>seimo narys turi nuolat susitikinėti su rinkėjais. Jis turi teisę kviesti susitikimuose dalyvauti valstybės įstaigų ir
            savivaldybių pareigūnus bei savivaldybių tarybų narius.</li>
            <li>seimo narys nagrinėja gautus rinkėjų pasiūlymus, pareiškimus bei skundus ir, jeigu reikia,
            juos siunčia svarstyti valstybės institucijoms;
            <li>rinkėjų skundai, priskirti Seimo kontrolieriaus kompetencijai, gali būti perduoti Seimo kontrolieriui ištirti.
                    Jie nagrinėjami Seimo kontrolierių įstatymo nustatyta tvarka.</li>
        </ul>
        <p>
            Dėl platesnės informacijos apie Seimo nario kompetenciją ir pareigas gyventojams, raginame žiūrėti į
            Seimo statuto 9 straipsnį bei LR Konstitucijos 67 straipsnį.
        </p>
    </li>


    <li>
        <h3> <span id="Definition_Meras">Kada turėčiau kreiptis į merą?</span></h3>
        <p>

        </p>
    </li>


    <li>
        <h3> <span id="Definition_Seniunas">Kada turėčiau kreiptis į seniūną?</span></h3>
        <p>
            Į seniūną kreipkitės tuo atveju, jei jūsų klausimas susijęs su viena iš žemiau seniūno atliekamų funkcijų:
        </p>
        <ul>
        <li>Rengia seniūnijos veiklos programas, bei supažindina su jomis senūnijos gyventojus.
        <li>Seniūnijoje, kurios aptarnaujamoje teritorijoje nėra civilinės metrikacijos įstaigų, registruoja mirtis bei išduoda leidimus laidoti,
        jeigu seniūnijos aptarnaujamoje teritorijoje atlieka kapinių priežiūrą;</li>
        <li>Neatlygintinai atlieka seniūnijai priskirtos teritorijos gyventojams notarinius veiksmus ir Civilinio kodekso nustatyta
            tvarka neatlygintinai tvirtina seniūnijai priskirtos teritorijos gyventojų oficialiesiems testamentams prilyginamus testamentus.</li>
        <li>Kontroliuoja, ar teikiant viešąsias paslaugas laikomasi teisės aktuose ir sutartyse nustatytų reikalavimų dėl jų teikimo,
            nagrinėja gyventojų prašymus, skundus dėl viešųjų paslaugų teikimo ir šiais klausimais pagal kompetenciją priima sprendimus.</li>
        <li>Šaukia seniūnijai priskirtos teritorijos gyventojų sueigas ir organizuoja gyventojų susitikimus su savivaldybės ir valstybės
            institucijų pareigūnais;</li>
        <li>Apibendrina gyvenamųjų vietovių bendruomenių atstovų pastabas, pasiūlymus ir teikia juos savivaldybės administracijos direktoriui.
            Konsultuoja seniūnijai priskirtos teritorijos gyventojus ir teikia jiems informaciją apie savivaldybės institucijų,
            savivaldybės administracijos ir valstybės institucijų veiklą savivaldybės teritorijoje;</li>

        </ul>

    </li>

    <li>
        <h3> <span id="Definition_Seniunaitis">Kada turėčiau kreiptis į seniūnaitį?</span></h3>
        <p>
        </p>

        <ul>
            <li>Atstovauja seniūnaitijos gyventojų interesams seniūnijoje, savivaldybės institucijose ir savivaldybės teritorijoje veikiančiose
                valstybės įstaigose.</li>
            <li>Skatina seniūnaitijos gyventojus prižiūrėti gyvenamosios vietovės teritoriją (kelius, gatves, aikštes, kapines ir
                kitus infrastruktūros objektus), plėtoti ir organizuoti kaimo (miesto, miestelio) kultūrinį ir sportinį gyvenimą;</li>
            <li>Prireikus dalyvauja organizuojant gyventojų apklausas ir gyventojų susitikimus su tarybos nariais, seniūnu, savivaldybės
                administracijos direktoriumi arba šio įgaliotu atstovu, kitais savivaldybės ir valstybės institucijų atstovais;</li>
            <li>Turi teisę gauti informaciją apie savivaldybės institucijų, savivaldybės administracijos ir jos struktūrinių padalinių,
                kitų savivaldybės viešojo administravimo subjektų, Vyriausybės atstovo funkcijas ir darbo laiką. Šią informaciją
                seniūnaičiui teikia seniūnas.</li>
            <li>Turi teisę gauti savivaldybės institucijų parengtus teisės aktų projektus ir priimtus teisės aktus, susijusius su
                seniūnaitijos gyventojais, dalyvauti savivaldybės tarybos komitetų ir savivaldybės tarybos posėdžiuose, kai
                svarstomi klausimai, susiję su seniūnaitijos gyventojais, ir pareikšti seniūnaitijos gyventojų nuomonę apie
                poreikius ir interesus šiais klausimais, siūlyti problemų sprendimo variantus;</li>
            <li>Teikia informaciją seniūnaitijos gyventojams apie savivaldybės institucijų, savivaldybės administracijos ir jos
                padalinių, kitų savivaldybės viešojo administravimo subjektų, Vyriausybės atstovo funkcijas, jų darbo laiką ir darbo tvarką.</li>
        </ul>

    </li>




    <li>
        <h3> <span id="Privacy">Privatumo politika</span></h3>
        <p>
            Mes niekada neatskleisime tretiesiems asmenims jūsų įvesto elektroninio pašto adreso ir nenaudosime jo
            kitais tikslais, kaip tik susisiekti su valdžios atstovu (nusiųsti ir gauti atsakymą).
        </p>
    </li>







    <li>
        <h3> <span id="Can_I_join_this_project">Ar aš galiu prisidėti prie jūsų projekto?</span></h3>
        <p>
            Šis projektas yra dalis visuomeninio projekto Mano Valstybė. Jūsų pagalba labai vertinga:
        </p>
            <ul>
                <li>Pasiūlykite, kas veikia netobulai ir kaip tai pagerinti</li>
                <li>Reikia pagalbos prižiūrint D.U.K.</li>
                <li>Ieškome žmoni kurie prižiūrėtų, kad duomenys svetainėje yra teisingi</li>
                <li>Programuotojų, dizainerių</li>
                <li>Iniciatyvių ir neabejingų Lietuvos ateičiai žmonių </li>
            </ul>
        <p>
            Svetainės kodas yra čia: <a href="http://bitbucket.org/dariusdamalakas/parasykjiems">http://bitbucket.org/dariusdamalakas/parasykjiems</a>
        </p>

        <p>
            Galite prisijungti prie "Mano Valstybė" <a href="http://groups.google.com/group/manovalstybe">elektroninio pašto grupės</a>
        </p>
        <p>
            Taip pat galite pasinaudoti specialia forma susisiekti su mumis, pažadame iš karto atsakyti:
            <a href="http://localhost:8000/pjweb/feedback/">Parašykite Mums</a>
        </p>
    </li>
</ol>






{% endblock %}
