{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div id="sendok">
<img src="/static/img/ok.png" alt={% trans "Letter was successfuly sent." %}>
<p id="sendok-large">{{ ConfirmMessage }}</p>
    {% if is_email_public %}
<p id="sendok-font"><a href="/pjweb/public/{{ public_email_id }}/">{% trans "View your public message" %}</a></p>
    {% endif %}
<p id="sendok-font"><a href="/">{% trans "Go back to home page" %}</a></p>
<p id="sendok-font"><a href="#" >{% trans "About project" %}</a></p>
</div>

{% endblock %}
