{% extends "base.html" %}
{% load i18n %}
{% block content %}


<h2 class="c-h">{% trans "You are writing a letter to your representative. Be polite." %}</h2>

<!--    <ul id="head-text">-->
<!--    <li>Lorem ipsum</li>-->
<!--    <li>Dolor sit amet</li>-->
<!--    </ul>-->

<br>
<form action="/pjweb/contact/{{ rtype }}/{{ mp_id }}/" method="post">
<table id="letter">
<tr>
<th width="300px" ><h2>{% trans "Receiver:" %}</h2></th>
<th colspan="2"><h2>{% trans "Sender " %}<small>{% trans "(fields marked with asterisk are required)" %}</small>:</h2></th>
</tr>
  <tr>
    <td width="300px" rowspan="3">
      <p id="head-font"><b>{{ representative.name }} {{ representative.surname }}</b></p>
{% if representative.phone %}{{ representative.phone }}{% endif %}
{% if representative.officePhone %}{{ representative.officePhone }}{% endif %}
    </td>
    <td width="120px">{% trans "Mail type:" %}*</td>
    <td width="360px">
        {{ form.public }}
        {{ form.public.errors }}
    </td>
  </tr>
  <tr>
    <td width="120px">{% trans "Sender Name:" %}*</td>
    <td width="360px">
        {{ form.sender_name }}
        {{ form.sender_name.errors }}
    </td>
  </tr>
  <tr>
    <td width="120px">{% trans "Your Email:" %}*</td>
    <td width="360px">
        {{ form.sender }}
        {{ form.sender.errors }}
    </td>
  </tr>
<!--  <tr>-->
<!--    <td width="120px">{% trans "Phone Number:" %}</td>-->
<!--    <td width="360px">-->
<!--        {{ form.phone }}-->
<!--        {{ form.phone.errors }}-->
<!--    </td>-->
<!--  </tr>-->
</table>
<table id="letter">
  <tr>
    <td>
        {{ form.message }}
        {{ form.message.errors }}
    </td>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
        <br>
        <button><span>{% trans "Next Step" %}</span></button><br>
        <br>
    </td>
  </tr>
</table>
</form>

{% endblock %}
