{% extends "pjweb/base.html" %}
{% load i18n %}
{% block content %}

<form action="/pjweb/" method="post">
<p>{% trans "Try to use national letters." %}</p>
  <div class="fieldWrapper">
    {{ form.address.errors }}
    <label for="id_address">{% trans "Enter Your Address:" %}</label>
    {{ form.address }}
  </div>
<input type="submit" value="Submit" />
</form>

{% if entered %}
<p><b>{% trans "You entered:" %}</b> {{ entered }}</p>
{% endif %}

{% if found_entries %}
<p><b>{% trans "We found these addresses:" %}</b></p>
{% for found_entry in found_entries %}

{% if found_entry.constituency_id %}
<p><a href="/pjweb/{{ found_entry.constituency_id }}/">
{% if found_entry.street %} {{ found_entry.street }}, {% endif %}
{% if found_entry.city %} {{ found_entry.city }}, {% endif %}
{% if found_entry.district %} {{ found_entry.district }}{% endif %}
</a></p>
{% else %}
<p><a href="/pjweb/{{ found_entry.object.constituency_id }}/">{{ found_entry.street }}</a></p>
{% endif %}

{% endfor %}
{% endif %}

{% if found_geodata %}
{% for found_entry in found_geodata %}
<p><a href="/pjweb/{{ found_entry.id }}/">
{% if found_entry.name %} {{ found_entry.name }}, {% endif %}
</a></p>

{% endfor %}{% endif %}

{% if not found_entries %}
<p>{% trans "Or you can select one from all Members of Parliament" %}</p>
{% for mp in all_mps %}
<p><a href="/pjweb/contact/mp/{{ mp.id }}/">{{ mp.name }} {{ mp.surname }}</a></p>
{% endfor %}
{% endif %}
{% endblock %}
