{% extends "base.html" %}
{% load i18n %}
{% block content %}

<form action="/pjweb/" method="post" id="address">
<strong>{% trans "Enter Your Address for search:" %}</strong><br>
  {{ form.address_input }}
  <button><span>{% trans "Search" %}</span></button><br>
<em>{% trans "Eg.: Gedimino pr. 9, Vilnius" %}</em>
</form>

{% if found_entries %}
  <div id="address_table">
    <strong>{% trans "Several addresses were found. Choose:" %}</strong>
    <table id="addresses_line">

      <tr><td><b>{% trans "Found Addresses for constituency" %}</b></td></tr>
      {% for found_entry in found_entries %}
        <tr>
            <td>
                <a href="{{ found_entry.url }}">
                {% if found_entry.street %}{{ found_entry.street }}{% if found_entry.number %} {{ found_entry.number }}{% endif %}, {% endif %}{% if found_entry.city %}{{ found_entry.city }},{% endif %} {% if found_entry.municipality %}{{ found_entry.municipality }}{% endif %}</a>
            </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% else %}
  <div id="address_table">
  {% if not_found %}
    <strong>{{ not_found }} <a href="./feedback/">{% trans "here" %}</a></strong>
  {% endif %}
  </div>
{% endif %}
{% endblock %}
