{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div style="float:left;text-align:center;width:97%;">
    <h2 class="c-h">{% trans "Here you can see all public emails" %}</h2>
</div>

<div style="float:right">
    <a href="/public/rss/" style="">
        <img src="/static/img/rss.png" alt="{% trans "Get feed of all public mails" %}" style="width:20px;padding-top:2px;padding-left:3px;"/>
    </a>
</div>

<div style="clear:both;">
    <table id="public_mails" style="width: 100%">
        <tr>
            <th width="200px">{% trans "Receiver" %}</th>
            <th width="250px">{% trans "Subject" %}</th>
            <th style="width: 80px">{% trans "Sender" %}</th>
            <th width="120px">{% trans "Was sent on" %}</th>
            <th width="30px">{% trans "Answered" %}</th>
        </tr>
        {% for mail in mails.object_list %}
            <tr>
                <td>  <span class="color_dark_green mail_sender_common">{{ mail.recipient_name }}</span><br/>
                {{ mail.personPosition.institution.name }}</td>
                <td style="font-weight: bold"><a href="/public/{{ mail.id }}/">{{ mail.subject }}</a></td>
                <td> <span class="color_dark_yellow mail_sender_common">{{ mail.sender_name }}</span></td>
                <td>{{ mail.mail_date|date:"Y m d H:i" }}</td>
                <td>{{ mail.has_response }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if mails.has_previous %}
                <a href="?page={{ mails.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
            Page {{ mails.number }} of {{ mails.paginator.num_pages }}.
        </span>

            {% if mails.has_next %}
                <a href="?page={{ mails.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
