{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}ParašykJiems{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20741864-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>

<body>
    {% include 'pjweb/headers/change_lang.html' %}
    {% include 'pjweb/headers/header.html' %}

    <div class="content-large">
        {% block content %}{% endblock %}
    </div>
    <p align="center">{% trans "Have any notes, suggestions?" %} <a href="/feedback/" >{% trans "Write to us" %}</a></p>

</body>
</html>
