{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="/static/script.js"></script>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}ParašykJiems{% endblock %}</title>
  </head>
  <body>
    <div id="main-block">
      <div id="logo">
        <a href="/"><img src="/static/img/logo.png" alt="{% trans "ParašykJiems" %}"></a>
      </div>
      <ul id="menu">
        {% for item in MENU %}
        <li><a href="{{ item.href }}" class="{% if item.name == active_menu %}selected{% endif %}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      {% trans "Have any notes, suggestions?" %} <a href="/feedback/" >{% trans "Write to us." %}</a>
    </div>
  </body>
</html>
