<div class="institution">
  <h2>{{ institution.name }}</h2>
  <p class="subtitle">{{ institution.kind.name }}</p>

  {% if institution.email %}
  <p>
    Elektroninis paštas: {{ institution.email }} &mdash;
    <a href="/write_to/institution/{{ institution.id }}">Rašyti laišką</a>
  </p>
  {% endif %}

  {% if institution.phone %}
  <p>Tel. nr.: {{ institution.phone }}</p>
  {% endif %}

  {% if institution.address != '' %}
  <p>Adresas: {{ institution.address }}</p>
  {% endif %}

  <h3>Atstovai</h3>
  {% for representative in institution.representatives %}
  {% include "items/representative.html" %}
  {% endfor %}
</div>
