{% load i18n markup %}

<div class="institution">
  <h2>{{ institution.name }}</h2>
  <p class="subtitle">{{ institution.kind.name }}</p>

  {% if institution.recent_letters %}
  <div class="recent-letters">
  <h3>{% trans "Recent letters" %}</h3>
  {% include "items/letters.html" with letters=institution.recent_letters %}
  </div>
  {% endif %}

  {% if institution.kind.description %}
  <div class="description">{{ institution.kind.description|markdown }}</div>
  {% endif %}

  {% if institution.email %}
  <p>
    {% trans "Email: " %} {{ institution.email }} &mdash;
    <a href="{% url write-institution institution.slug %}{{ choose_query }}">{% trans "Write letter" %}</a>
  </p>
  {% endif %}

  {% if institution.phone %}
  <p>{% trans "Phone number: " %} {{ institution.phone }}</p>
  {% endif %}

  {% if institution.address != '' %}
  <p>{% trans "Address: " %} {{ institution.address }}</p>
  {% endif %}

  {% if institution.representatives %}
  <h3>{% trans "Representatives" %}</h3>
  <ul>
    {% for representative in institution.representatives %}
    {% include "items/representative.html" %}
    {% endfor %}
  </ul>
  {% endif %}
</div>
