{% load i18n markup %}

<table class="institution">
  <tr>
    <td colspan="2">
      <h2>{{ institution.name }}</h2>
    </td>
  </tr>
  <tr>
    <td>
      {% if institution.email %}
      <p>
        {% trans "Email: " %} {{ institution.email }}
        <a class="write" href="{% url write-institution institution.slug %}{{ choose_query }}">
          {% trans "Write&nbsp;letter" %}
        </a>
      </p>
      {% endif %}

      {% if institution.phone %}
      <p>{% trans "Phone number: " %} {{ institution.phone }}</p>
      {% endif %}

      {% if institution.address %}
      <p>{% trans "Address: " %} {{ institution.address }}</p>
      {% endif %}
    </td>
    <td class="description" rowspan="{{ institution.representatives.count|add:1 }}">
      {{ institution.kind.description|markdown }}
    </td>
  </tr>

  {% for representative in institution.representatives %}
  <tr><td class="representative">
      {% include "items/representative.html" %}
  </td></tr>
  {% endfor %}

  {% if institution.recent_letters %}
  <tr>
    <td colspan="2" class="recent-letters">
      <h5>{% trans "Recent letters" %}</h5>
      {% include "items/letters.html" with letters=institution.recent_letters small=1 %}
      {% if institution.more_letters %}
      <a href="{% url letters institution.slug %}">{% trans "All letters sent to this institution" %}</a>
      {% endif %}
    </td>
  </tr>
  {% endif %}
</table>
