{% load i18n %}

<div class="letter {{ class }}">
  <table>
    <tr>
      <th>{% trans "From:" %}</th>
      <td>{{ letter.sender_name }}</td>
    <tr>

    <tr>
      <th>{% trans "To:" %}</th>
      <td>{{ letter.recipient_name }}</td>
    </tr>

    <tr>
      <th>{% trans "Subject:" %}</th>
      <td>{{ letter.subject }}</td>
    </tr>

    <tr>
      <th>{% trans "Sent at:" %}</th>
      <td>{{ letter.sent_at.date|date:'Y-m-d' }}</td>
    </tr>
</table>

  <div class="body">
    {{ letter.body|linebreaks }}
  </div>
</div>
