{% load i18n nobreaks humanize %}

<table class="letters{% if small %} small-letters{% endif %}">
  {% if not small %}
  <tr class="header">
    <th class="answered"></th>
    <th class="subject">{% trans "Subject" %}</th>
    <th class="sender">{% trans "Sender" %}</th>
    <th class="recipient">{% trans "Recipient" %}</th>
    <th class="date">{% trans "Sent at" %}</th>
  </tr>
  {% endif %}
  {% for letter in letters %}
  {% if letter.is_open and letter.is_sent %}
  <tr class="{% cycle "odd" "even" %}">
    <td class="answered">{% if letter.has_answer %}<img src="/static/img/answered.png" title="{% trans "Answered" %}">{% else %}&nbsp;{% endif %}</td>
    <td class="subject">
      <a href="{{ letter.get_absolute_url }}">
        {{ letter.subject }}
      </a>
    </td>
    <td class="sender">{{ letter.sender_name }}</td>
    {% if not small %}
    <td class="recipient">{{ letter.recipient.name }}</td>
    {% endif %}
    <td class="date">{{ letter.date|naturalday:'Y-m-d' }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
