<div class="representative">
  <h2>{{ representative.name }}</h2>
  <p class="subtitle">{{ representative.kind.name }}</p>

  {% if not institution %}
  <h3><a href="{% url web.views.institution representative.institution.id %}">{{ representative.institution.name }}</a></h3>
  {% endif %}

  {% if representative.email %}
  <p>
    Elektroninis paštas: {{ representative.email }} &mdash;
    <a href="/write_to/representative/{{ representative.id }}">Rašyti laišką</a>
  </p>
  {% endif %}

  {% if representative.phone %}
  <p>Telefono numeris: {{ representative.phone }}</p>
  {% endif %}

  {% if representative.other_contacts %}
  <p>{{ representative.other_contacts }}</p>
  {% endif %}
</div>
