{% extends "base-largecontent.html" %}
{% load i18n %}
{% block content %}

    <div>
        <p style="font-weight: bold">Note</p>
        <p> There is a special column called 'action' which defines how to treat it</p>
        <table style="border: solid 1px black">
            <tr>
                <td>Value</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>
                    Empty or 'Default'
                </td>
                <td>
                    If a person name or surname is changed, then it is treated as new person, and a new Person is inserted.
                    Otherwise data is just updated (e-mail, office addres, phone).
                </td>
            </tr>
            <tr>
                <td>
                    Update
                </td>
                <td>
                    Every changed data is updated only, never inserted.
                </td>
            </tr>
        </table>

    </div>
{% endblock %}