{% extends "base.html" %}
{% load i18n %}
{% block content %}
Following mayor data has changed:

<table>
    <tr>
        {% for headerValue in headers %}
        <th>{{ headerValue }} </th>
        {% endfor %}
    </tr>

    {% for row in newData %}
    <tr>
        {% for key, val in row.items %}
        {% if val.changed %}
        <td style="background-color: #fffba5;">
            <div style="color: red;">{{ val.previous }}</div> <br/><br/>
            <div style="color: green;">{{ val.changed }} </div>
        </td>
        {% else %}
            {% if val.previous %}
                <td style="">{{ val.previous }} </td>
            {% else %}
                <td style="">{{ val }} </td>
            {% endif %}
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
